body {
    background-color: #1F7A7A;
    width: 100vw;
    height: 100vh;
    color: white;
}
header {
    display: flex;
}
img {
    width: 33vw;
    margin: 3rem auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
   align-items: center;
}

label {
    color: white;
    margin: 0.5rem
}

input {
    width: 10%;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid white;
    color: white;
}

.intro {
    margin: 3rem auto;
    width: 75%;
    text-align: center;
}