body {
    background-color: #1F7A7A;
    width: 100vw;
    max-height: 100vh;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
}
img {
    width: 33vw;
    margin: 3rem auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
   align-items: center;
}

label {
    color: white;
    margin: 0.5rem
}

input {
    width: 10%;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid white;
    color: white;
}

.time-inputs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.intro {
    margin: 1rem auto;
    width: 75%;
    text-align: center;
}

.remaining-container {
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}